
:root {
    /* colors */
    --red-1: #a92c24;
    --red-2: #bd5344;
    --red-3: #cf7566;
    --red-4: #de978a;
    --red-5: #ecb9b0;
    --red-6: #f7dcd7;
    --white: #fffefb;
    --black: #000000;
    --whitereal: #ffffff;

    /* fonts */
    --h1: 'Overpass';
    --p: 'Open Sans';

  }

body {
    margin: 0;
    padding: 0;
    font-family: var(--p);
    font-size: 1rem;
  
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px 15px;
    grid-template-areas:
      "s m m m m"
      "s m m m m"
      "s m m m m";
  }
  
  .sidebar {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:var(--red-1);
    overflow-x: hidden;
    padding-top: 16px;
    grid-area: n;
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: var(--whitereal);
    display: block;
  }
  
  .sidebar a:hover {
    font-size: 1.05rem;
  }
  .sidebar a img{
    width: 150px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  
  
  main {
    max-width: 100%;
    margin-left: 220px;
    padding: 0px 10px;
    grid-area: m;
  }
  h1{
      font-family: var(--h1);
      font-size: 3rem;
      line-height: 3rem;
  }
  h2{
    font-family: var(--h1);
    font-size: 2rem;
}
p{
   max-width: 800px;
}
b{
    color: var(--red-1);
}

/* farver*/
.farve-kasse{
    width: 95%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.farve-kasse1{
    background-color: var(--red-1);
    border: 1px solid var(--black);
}
.farve-kasse2{
    background-color: var(--red-2);
    border: 1px solid var(--black);
}
.farve-kasse3{
    background-color: var(--red-3);
    border: 1px solid var(--black);
}
.farve-kasse4{
    background-color: var(--red-4);
    border: 1px solid var(--black);
}
.farve-kasse5{
    background-color: var(--red-5);
    border: 1px solid var(--black);
}
.farve-kasse6{
    background-color: var(--red-6);
    border: 1px solid var(--black);
}
.farve-kasse7{
    background-color: var(--white);
    border: 1px solid var(--black);
}
.farve-kasse8{
    background-color: var(--whitereal);
    border: 1px solid var(--black);
}
.farve-kasse9{
    background-color: var(--black);
    color: var(--whitereal);
    border: 1px solid var(--black);
}
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  } 