:root {

    /* colors */
    --red-1: #a92c24;
    --red-2: #bd5344;
    --red-3: #cf7566;
    --red-4: #de978a;
    --red-5: #ecb9b0;
    --red-6: #f7dcd7;
    --white: #ffffff;

    /* fonts */
    --h1: 'Overpass';
  }

body {
    margin: 0;
    padding: 0;
}

.menu-toggle {
    right: 5%;
    color: var(--white);
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

#link {
    background-color: var(--red-1);
    padding: 20px;
    width: 5vw;
    color: var(--white);
    display: none;
}



#video {
    display: none;
 
}

#video2 {
    display: none;
 
}


#info-img {
    padding-top: 10%;
    display: block;
    width: 60vw;
    padding-left: 15%;  
}

b {
    color: var(--red-1);
}


.wrapper {
    max-width: 1924px;
    font: helvetica, arial, sans-serif;
}

/* rammer child lige under */
.wrapper > * {
    background-color: var(--white);
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    height: 30px;
}

.main-header i  {
    font-size: 1.5rem;
    display: block;
  }


.content {
    grid-area: content;  

}

.content h1 {
    font-family: var(--h1);
    font-weight: 2000;
    font-size: 3rem;
}

.content p {
    font-family: 'Overpass';
    font-size: 1.5rem; 
}


.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

button {
    background-color: var(--red-1);
    border: none;
    color: var(--white);
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-family: "overpass";
    font-size: 16px;
    cursor: pointer;
    min-width: 200px;
    outline: none;
    list-style: none;
}

.main-nav a {
    background-color: var(--red-1);
    border: none;
    color: var(--white);
    padding: 15px 32px;
    width: 136px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-family: "overpass";
    font-size: 16px;
    cursor: pointer;
    max-width: 200px;
    outline: none;
}

.main-nav a:hover {
    background-color: var(--red-2);
}



button:hover {
    background-color: var(--red-2);
}

.main-nav {
    position: absolute;
    background-color: var(--red-1);
    width: 90vw;
    height: 170vw;
    left: -110%;
    transition: 1s;
    transition-timing-function: ease;
    z-index: 999;
}

.main-nav i {
    color: var(--white);
    font-size: 1.5rem;

}

.top-nav {
    display: flex;
    justify-content: space-between;
}

.main-nav-active {
    position: absolute;
    background-color: var(--red-1);
    width: 90vw;
    height: 170vw;
    left: 0;
    transition: 1s;
    transition-timing-function: ease;
}

.ad {
    grid-area: ad;
 
}

.main-footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--red-1);
    font-family: overpass;
    color: var(--white);
}

.main-footer i  {
    color: var(--red-1);
    background-color: var(--white);
    font-size: 50px;
    padding: 7px 7px 0 15px;
    margin-top: 15px;
    border-radius: 10px;
    
    
}



.wrapper {
    display: grid;
    grid-column-gap: 60px;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "header      header"
    "ad          ad"
    "content     content"
    "footer      footer";
}

@media (min-width: 800px) {
    .wrapper {
 
        grid-template-columns: 1fr 2fr 2fr;
        grid-template-areas: 
        "nav     content    ad"
        "nav     content    ad"
        "nav     content    ad"
        "footer  footer     footer";
    }

    nav ul {
        flex-direction: column;
    }


    

    .main-nav {
        grid-area: nav;
        display: block;
        height: 96vh;
        position: relative;
        background-color: var(--white);
        width: 10vw;
        height: 50vw;
        left: 0;
       
      
    }

    .content p {
        font-family: 'Overpass';
        font-size: 1.5rem;
    }
    .content h1 {
        font-family: var(--h1);
        font-weight: 2000;
        font-size: 5rem;
    }
    
    #info-img {
    padding-top: 10%;
    padding-left: 0%;  
    display: block;
    width: 35vw;  
    }

    .main-header {
        display: none;
        height: 100px;
    }

    .main-nav i  {
        font-size: 1.5rem;
        display: none;
      }

    .main-footer {
        flex-direction: row;
    }
}
    
